[submodule "bundle/Command-T"]
	path = bundle/Command-T
	url = git://github.com/vim-scripts/Command-T.git
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = git://github.com/msanders/snipmate.vim.git
[submodule "bundle/vim-bufexplorer"]
	path = bundle/vim-bufexplorer
	url = git://github.com/slack/vim-bufexplorer.git
